
<main id="main" role="main" class="">
	<div class="wrapper" data-content-field="main-content">
		<form action="/cart" method="post" id="cartformpage">
			{% if cart.item_count == 0 %}
			<h2>Shopping Cart</h2>
			<div class="empty-message">
				You have nothing in your shopping cart.&nbsp;
				<a href="/">Continue Shopping</a>

			</div>
			{% else %}
			<div  class="yui3-widget sqs-widget yui3-tableshoppingcart sqs-fullpage-shopping-cart">
				<div  class="sqs-fullpage-shopping-cart-content"><div class="loading-spinner">
					<div  class="yui3-widget sqs-spin dark" style="height: 50px; width: 50px;">
						<div  class="sqs-spin-content yui3-widget-content-expanded">
						</div></div></div>



					<div class="cart-container">

						<table>
							{% comment %}
							<thead> 
								<tr>
									<td class="item">Ảnh sản phẩm</td>
									<td>Tên sản phẩm</td>
									<td class="quantity">Số lượng</td>
									<td class="price">Giá</td>
									<td></td>
								</tr>
							</thead>
							{% endcomment %}
							<tbody>
								{% for item in cart.items %}
								<tr  data-chosen-variant-sku="SQ3771489" id="yui_3_17_2_1_1430892589245_414">

									<td class="item">
										<div class="item-image"><img src="{{ item | img_url: 'small' }}"></div>
									</td>

									<td class="item-desc"><a href="{{ item.url }}">{{ item.product.title }}</a><div class="variant-info"></div></td>

									<td class="qty quantity">
										<input type="number" size="4" name="updates[]" min="1" id="updates_{{ item.id }}" value="{{ item.quantity }}" onfocus="this.select();" class="tc item-quantity" />
										<div class="cooldown hidden">•</div>
									</td>

									<td class="price">
										<span class="sqs-money-native">{{ item.line_price|money}}</span>
									</td>

									<td class="remove remove-item">
										<div class="remove-item">
											<a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart"><b>X</b></a>
										</div>

									</td>

								</tr>
								{% endfor %}
							</tbody>

						</table>

						<div class="subtotal">
							<span class="label">Tổng tiền</span>
							<span class="price"><span class="sqs-money-native">{{cart.total_price|money}}</span></span>
						</div>

						<div class="checkout cart-buttons">						
							<div class="buttons clearfix">
								<button type="submit" id="update-cart" class="checkout-button sqs-system-button sqs-editable-button" name="update"  value="" >Cập nhật</button>
								<button type="submit" id="checkout" class="checkout-button sqs-system-button sqs-editable-button" name="checkout" value="" >Thanh toán</button>

							</div>

						</div>

					</div>

				</div>
			</div>
			{% endif %}

		</form>

		<footer id="footer"><div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1385049770914" id="pageFooter"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-44308fdc07882be6746e"><div class="sqs-block-content"><p class="text-align-center">{{settings.footer_contact}}</p></div></div></div></div></div></footer>
	</div>
</main>