<div class="navbar-theme navbar-mainmenu" id="navbar-mainmenu">
	<nav class="main-nav">
		<ul class="main-nav-desk">
			{%- for link in linklists[settings.menu_links].links -%}
			{%- if linklists[link.handle].links == empty -%}
			<li class="has-submenu">
				<a href="{{link.url}}" title="{{ link.title }}" class="has-submenu-li"> 
					{{ link.title }}
				</a>
			</li>
			{%- else -%}
			<li class="has-submenu {%if link.active%}{%endif%}">
				<a href="{{ link.url }}" title="{{ link.title }}" class="has-submenu-li"> 
					{{ link.title }} <!--<i class="fa fa-chevron-down" aria-hidden="true"></i>-->
				</a>
				<ul class="sub_menu">
						<div class="col-masory">
							{%- for link_vl_1 in linklists[link.handle].links -%}
							{%- if linklists[link_vl_1.handle].links == empty -%}
							<li class="{%- if link_vl_1.active -%}{%- endif -%}">
								<a href="{{ link_vl_1.url }}" title="{{ link_vl_1.title }}"> 
									{{ link_vl_1.title }}
								</a>
							</li>
							{%- else -%}
							<li class="{%- if link_vl_1.active -%}{%- endif -%}">
								<a href="{{ link_vl_1.url }}" title="{{ link_vl_1.title }}"> 
									{{ link_vl_1.title }}
								</a>
								<ul class="sub_menu">
									{%- for link_vl_2 in linklists[link_vl_1.handle].links -%}
									{%- if linklists[link_vl_2.handle].links == empty -%}
									<li class="{%- if link_vl_2.active -%}{%- endif -%}">
										<a href="{{ link_vl_2.url }}" title="{{ link_vl_2.title }}"> 
											{{ link_vl_2.title }}	
										</a>
									</li>
									{%- else -%}
									<li class="{%- if link_vl_2.active -%}{%- endif -%}">
										<a href="{{ link_vl_2.url }}" title="{{ link_vl_2.title }}"> 
											{{ link_vl_2.title }} <i class="fa fa-chevron-right" aria-hidden="true"></i>
										</a>
										<ul class="sub_menu">
											{%- for link_vl_3 in linklists[link_vl_2.handle].links -%}
											<li>
												<a href="{{ link_vl_3.url }}" title="{{ link_vl_3.title }}"> 
													{{ link_vl_3.title }}	
												</a>
											</li>
											{%- endfor -%}
										</ul>
									</li>
									{%- endif -%}
									{%- endfor -%}
								</ul>
							</li>
							{%- endif -%}
							{%- endfor -%}
					</div>
					<div class="overlay-header"></div>
				</ul>
			</li>
			{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>
</div>





