<div id="pagination" class="clearfix">
	<div class="col-xs-12">
		{%- if paginate.pages > 1 -%}
		<ul class="pagination">
			<li class="paginate-page-first">
				<a href="{{ paginate.previous.url | replace: paginate.previous.url, '?page=1' }}">
					|<i class="fa fa-angle-left"></i>		
				</a>
			</li>
			
			<li>
				<a href="{{ paginate.previous.url }}">
					<i class="fa fa-angle-left"></i>			
				</a>
			</li>
	
			{%- for part in paginate.parts -%}
			{%- if part.is_link -%}
			<li class="next-page">
				<a href="{{part.url}}">{{part.title}}</a>
			</li>
			{%- else -%}
			<li>
				<span class="{%if part.title == paginate.current_page%}current{%endif%}">
					{{part.title}}
				</span>
			</li>		
			{%- endif -%}
			{%- endfor -%}
			{%- if paginate.next -%}
			<li>
				<a href="{{ paginate.next.url }}">
					<i class="fa fa-angle-right"></i>			
				</a>
			</li>
			<li class="paginate-page-last">
				{% assign paginatepags = '?page='{{paginate.pages}} %}
		
				<a href="?page={{ paginate.pages }}">
				<i class="fa fa-angle-right"></i>|
				</a>
			</li>
			{%- endif -%}
		</ul>
		{%- endif -%}
	</div>
</div>