 <div class="product-grid">
  {% paginate collection.products by settings.pagination_limit %}
    {% for product in collection.products %}
      {% assign current_variant = product.selected_or_first_available_variant %}
      <div 
        class="product-item 
          {% if product.available == false %}out-of-stock{% endif %}
         {% if current_variant.compare_at_price > current_variant.price %}sale{% endif %}">
        <div class="image-container">
          {% if product.featured_image != blank %}
            <picture>
              <source media="(min-width: 768px)" srcset="{{ product.featured_image | img_url: '500x' }}">
              <source media="(min-width: 360px)" srcset="{{ product.featured_image | img_url: '360x' }}">
              <img src="{{ product.featured_image | img_url: '250x' }}" alt="{{ product.featured_image.alt | escape }}" class="image1">
            </picture>
          {% endif %}
          {% if product.images[1] != blank %}
            <picture>
              <source media="(min-width: 768px)" srcset="{{ product.images[1] | img_url: '500x' }}">
              <source media="(min-width: 360px)" srcset="{{ product.images[1] | img_url: '360x' }}">
              <img src="{{ product.images[1] | img_url: '250x' }}" alt="{{ product.images[1].alt | escape }}" class="image2">
            </picture>
          {% endif %}
          {% if current_variant.compare_at_price > current_variant.price %}
            <span class="sale-badge">Sale</span>
          {% endif %}
          {% if product.available == false %}
            <div class="out-of-stock-overlay">
              <span class="out-of-stock-badge">Sold out</span>
            </div>
          {% endif %}
        </div>
        <div class="product-info">
          <div class="left-info">
            <div class="color-options">
              {% include 'color-container' %}
            </div>
            <span class="product-name">{{ product.title }}</span>
          </div>
          <div class="right-info">
            {% if current_variant.compare_at_price > current_variant.price %}
              <span class="product-price original">{{ current_variant.compare_at_price | money }}</span>
              <span class="product-price sale">{{ current_variant.price | money }}</span>
            {% else %}
              <span class="product-price">{{ current_variant.price | money }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endpaginate %}
</div>

{% include 'pagination-default' %} 