<div class="style-mainmenu-desktop navbar-theme navbar-mainmenu" id="navbar-mainmenu">
	<nav class="main-nav">
		<ul class="nav-menu-bar">
			<div class="overlay-header"></div>
			{% if settings.mainmenu_show_1 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_1 }}" title="{{ settings.mainmenu_name_1 }}"> 
					{{ settings.mainmenu_name_1 }}		
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_1-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_1-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_1-1 }}">
									<p>{{ settings.mainmenu_name_colone_1-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_1-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_1-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_1-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_1-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_1-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_1-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_1-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_1-2 }}">
									<p>{{ settings.mainmenu_name_colone_1-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_1-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_1-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_1-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_1-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_1-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_1-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_1-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_1-3 }}">
									<p>{{ settings.mainmenu_name_colone_1-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_1-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_1-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_1-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_1-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_1-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_1-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_1-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_1-4 }}">
									<p>{{ settings.mainmenu_name_colone_1-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_1-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_1-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_1-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_1-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_1-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_1-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_1-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_1-5 }}">
									<p>{{ settings.mainmenu_name_colone_1-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_1-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_1-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_1-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_1-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_1-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_1-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_1-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_1-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-1-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_1-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-1-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_1-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_1-5 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_1-5 }}" alt="{{ settings.mainmenu_name_colone_1-5 }}" src="{{ settings.mainmenu_banner_colone_1-5 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_1-5 }}</p>
								<a href="{{ settings.mainmenu_link_colone_1-5 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
						
					</div>
							
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_2 %}
			
			<li class="has-submenu ">
				{% comment %}
						<a href="{{ settings.mainmenu_link_2 }}" title="{{ settings.mainmenu_name_2 }}"> 
				{% endcomment %}
				<a href="{{ settings.mainmenu_link_2 }}" title="{{ settings.mainmenu_name_2 }}"> 
					{{ settings.mainmenu_name_2 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_2-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_2-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_2-1 }}">
									<p>{{ settings.mainmenu_name_colone_2-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_2-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_2-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_2-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_2-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_2-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_2-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_2-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_2-2 }}">
									<p>{{ settings.mainmenu_name_colone_2-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_2-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_2-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_2-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_2-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_2-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_2-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_2-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_2-3 }}">
									<p>{{ settings.mainmenu_name_colone_2-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_2-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_2-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_2-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_2-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_2-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_2-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_2-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_2-4 }}">
									<p>{{ settings.mainmenu_name_colone_2-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_2-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_2-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_2-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_2-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_2-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_2-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_2-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_2-5 }}">
									<p>{{ settings.mainmenu_name_colone_2-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_2-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_2-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_2-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_2-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_2-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_2-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_2-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_2-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-2-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_2-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-2-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_2-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_2-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_2-7 }}" alt="{{ settings.mainmenu_name_colone_2-7 }}" src="{{ settings.mainmenu_banner_colone_2-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_2-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_2-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
						<!-- add div để có d -->
						<div class="spotlight col">
							<div class="text-spotlight">
								<!--<p>{{ settings.mainmenu_name_colone_2-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_2-7 }}" target="_self"><u>SHOP NOW</u></a>-->
							</div>
						</div>
					</div>
				
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_3 %}
			<li class="has-submenu ">
				{% comment %}
				<a href="{{ settings.mainmenu_link_3 }}" title="{{ settings.mainmenu_name_3 }}"> 
				{% endcomment %}
				<a href="#" title="{{ settings.mainmenu_name_3 }}"> 
					{{ settings.mainmenu_name_3 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_3-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_3-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_3-1 }}">
									<p>{{ settings.mainmenu_name_colone_3-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_3-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_3-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_3-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_3-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_3-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_3-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_3-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_3-2 }}">
									<p>{{ settings.mainmenu_name_colone_3-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_3-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_3-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_3-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_3-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_3-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_3-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_3-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_3-3 }}">
									<p>{{ settings.mainmenu_name_colone_3-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_3-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_3-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_3-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_3-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_3-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_3-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_3-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_3-4 }}">
									<p>{{ settings.mainmenu_name_colone_3-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_3-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_3-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_3-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_3-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_3-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_3-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_3-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_3-5 }}">
									<p>{{ settings.mainmenu_name_colone_3-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_3-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_3-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_3-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_3-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_3-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_3-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_3-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_3-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-3-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_3-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-3-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_3-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_3-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_3-7 }}" alt="{{ settings.mainmenu_name_colone_3-7 }}" src="{{ settings.mainmenu_banner_colone_3-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_3-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_3-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_4 %}
			<li class="has-submenu ">
				{% comment %}
				<a href="{{ settings.mainmenu_link_4 }}" title="{{ settings.mainmenu_name_4 }}"> 
				{% endcomment %}
				<a href="#" title="{{ settings.mainmenu_name_4 }}"> 
					{{ settings.mainmenu_name_4 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_4-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_4-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_4-1 }}">
									<p>{{ settings.mainmenu_name_colone_4-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_4-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_4-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_4-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_4-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_4-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_4-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_4-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_4-2 }}">
									<p>{{ settings.mainmenu_name_colone_4-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_4-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_4-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_4-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_4-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_4-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_4-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_4-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_4-3 }}">
									<p>{{ settings.mainmenu_name_colone_4-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_4-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_4-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_4-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_4-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_4-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_4-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_4-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_4-4 }}">
									<p>{{ settings.mainmenu_name_colone_4-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_4-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_4-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_4-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_4-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_4-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_4-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_4-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_4-5 }}">
									<p>{{ settings.mainmenu_name_colone_4-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_4-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_4-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_4-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_4-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_4-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_4-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_4-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_4-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-4-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_4-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-4-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_4-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_4-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_4-7 }}" alt="{{ settings.mainmenu_name_colone_4-7 }}" src="{{ settings.mainmenu_banner_colone_4-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_4-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_4-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_5 %}
			<li class="has-submenu ">
				<a href="#" title="{{ settings.mainmenu_name_5 }}"> 
					{{ settings.mainmenu_name_5 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_5-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_5-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_5-1 }}">
									<p>{{ settings.mainmenu_name_colone_5-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_5-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_5-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_5-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_5-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_5-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_5-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_5-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_5-2 }}">
									<p>{{ settings.mainmenu_name_colone_5-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_5-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_5-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_5-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_5-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_5-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_5-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_5-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_5-3 }}">
									<p>{{ settings.mainmenu_name_colone_5-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_5-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_5-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_5-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_5-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_5-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_5-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_5-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_5-4 }}">
									<p>{{ settings.mainmenu_name_colone_5-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_5-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_5-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_5-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_5-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_5-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_5-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_5-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_5-5 }}">
									<p>{{ settings.mainmenu_name_colone_5-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_5-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_5-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_5-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_5-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_5-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_5-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_5-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_5-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-5-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_5-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-5-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_5-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_5-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_5-7 }}" alt="{{ settings.mainmenu_name_colone_5-7 }}" src="{{ settings.mainmenu_banner_colone_5-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_5-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_5-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
							
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_6 %}
			<li class="has-submenu ">
				<a style="color:#e01212 !important;" href="{{ settings.mainmenu_link_6 }}" title="{{ settings.mainmenu_name_6 }}"> 
					{{ settings.mainmenu_name_6 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_6-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_6-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_6-1 }}">
									<p>{{ settings.mainmenu_name_colone_6-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_6-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_6-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_6-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_6-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_6-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_6-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_6-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_6-2 }}">
									<p>{{ settings.mainmenu_name_colone_6-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_6-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_6-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_6-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_6-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_6-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_6-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_6-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_6-3 }}">
									<p>{{ settings.mainmenu_name_colone_6-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_6-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_6-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_6-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_6-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_6-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_6-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_6-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_6-4 }}">
									<p>{{ settings.mainmenu_name_colone_6-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_6-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_6-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_6-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_6-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_6-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_6-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_6-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_6-5 }}">
									<p>{{ settings.mainmenu_name_colone_6-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_6-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_6-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_6-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_6-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_6-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_6-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_6-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_6-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-6-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_6-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-6-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_6-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_6-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_6-7 }}" alt="{{ settings.mainmenu_name_colone_6-7 }}" src="{{ settings.mainmenu_banner_colone_6-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_6-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_6-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_7 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_7 }}" title="{{ settings.mainmenu_name_7 }}"> 
					{{ settings.mainmenu_name_7 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_7-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_7-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_7-1 }}">
									<p>{{ settings.mainmenu_name_colone_7-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_7-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_7-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_7-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_7-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_7-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_7-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_7-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_7-2 }}">
									<p>{{ settings.mainmenu_name_colone_7-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_7-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_7-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_7-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_7-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_7-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_7-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_7-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_7-3 }}">
									<p>{{ settings.mainmenu_name_colone_7-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_7-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_7-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_7-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_7-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_7-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_7-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_7-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_7-4 }}">
									<p>{{ settings.mainmenu_name_colone_7-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_7-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_7-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_7-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_7-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_7-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_7-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_7-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_7-5 }}">
									<p>{{ settings.mainmenu_name_colone_7-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_7-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_7-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_7-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_7-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_7-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_7-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_7-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_7-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-7-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_7-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-7-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_7-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_7-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_7-7 }}" alt="{{ settings.mainmenu_name_colone_7-7 }}" src="{{ settings.mainmenu_banner_colone_7-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_7-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_7-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_8 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_8 }}" title="{{ settings.mainmenu_name_8 }}"> 
					{{ settings.mainmenu_name_8 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_8-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_8-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_8-1 }}">
									<p>{{ settings.mainmenu_name_colone_8-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_8-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_8-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_8-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_8-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_8-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_8-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_8-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_8-2 }}">
									<p>{{ settings.mainmenu_name_colone_8-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_8-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_8-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_8-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_8-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_8-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_8-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_8-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_8-3 }}">
									<p>{{ settings.mainmenu_name_colone_8-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_8-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_8-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_8-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_8-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_8-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_8-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_8-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_8-4 }}">
									<p>{{ settings.mainmenu_name_colone_8-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_8-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_8-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_8-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_8-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_8-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_8-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_8-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_8-5 }}">
									<p>{{ settings.mainmenu_name_colone_8-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_8-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_8-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_8-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_8-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_8-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_8-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_8-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_8-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-8-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_8-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-8-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_8-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_8-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_8-7 }}" alt="{{ settings.mainmenu_name_colone_8-7 }}" src="{{ settings.mainmenu_banner_colone_8-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_8-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_8-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_9 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_9 }}" title="{{ settings.mainmenu_name_9 }}"> 
					{{ settings.mainmenu_name_9 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_9-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_9-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_9-1 }}">
									<p>{{ settings.mainmenu_name_colone_9-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_9-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_9-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_9-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_9-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_9-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_9-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_9-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_9-2 }}">
									<p>{{ settings.mainmenu_name_colone_9-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_9-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_9-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_9-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_9-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_9-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_9-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_9-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_9-3 }}">
									<p>{{ settings.mainmenu_name_colone_9-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_9-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_9-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_9-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_9-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_9-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_9-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_9-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_9-4 }}">
									<p>{{ settings.mainmenu_name_colone_9-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_9-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_9-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_9-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_9-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_9-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_9-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_9-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_9-5 }}">
									<p>{{ settings.mainmenu_name_colone_9-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_9-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_9-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_9-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_9-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_9-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_9-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_9-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_9-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-9-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_9-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-9-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_9-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_9-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_9-7 }}" alt="{{ settings.mainmenu_name_colone_9-7 }}" src="{{ settings.mainmenu_banner_colone_9-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_9-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_9-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_10 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_10 }}" title="{{ settings.mainmenu_name_10 }}"> 
					{{ settings.mainmenu_name_10 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_10-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_10-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_10-1 }}">
									<p>{{ settings.mainmenu_name_colone_10-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_10-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_10-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_10-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_10-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_10-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_10-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_10-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_10-2 }}">
									<p>{{ settings.mainmenu_name_colone_10-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_10-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_10-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_10-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_10-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_10-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_10-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_10-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_10-3 }}">
									<p>{{ settings.mainmenu_name_colone_10-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_10-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_10-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_10-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_10-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_10-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_10-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_10-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_10-4 }}">
									<p>{{ settings.mainmenu_name_colone_10-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_10-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_10-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_10-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_10-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_10-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_10-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_10-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_10-5 }}">
									<p>{{ settings.mainmenu_name_colone_10-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_10-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_10-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_10-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_10-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_10-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_10-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_10-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_10-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-10-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_10-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-10-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_10-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_10-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_10-7 }}" alt="{{ settings.mainmenu_name_colone_10-7 }}" src="{{ settings.mainmenu_banner_colone_10-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_10-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_10-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_11 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_11 }}" title="{{ settings.mainmenu_name_11 }}"> 
					{{ settings.mainmenu_name_11 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
			<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_11-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_11-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_11-1 }}">
									<p>{{ settings.mainmenu_name_colone_11-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_11-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_11-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_11-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_11-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_11-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_11-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_11-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_11-2 }}">
									<p>{{ settings.mainmenu_name_colone_11-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_11-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_11-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_11-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_11-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_11-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_11-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_11-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_11-3 }}">
									<p>{{ settings.mainmenu_name_colone_11-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_11-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_11-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_11-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_11-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_11-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_11-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_11-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_11-4 }}">
									<p>{{ settings.mainmenu_name_colone_11-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_11-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_11-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_11-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_11-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_11-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_11-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_11-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_11-5 }}">
									<p>{{ settings.mainmenu_name_colone_11-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_11-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_11-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_11-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_11-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_11-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_11-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_11-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_11-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-11-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_11-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-11-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_11-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_11-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_11-7 }}" alt="{{ settings.mainmenu_name_colone_11-7 }}" src="{{ settings.mainmenu_banner_colone_11-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_11-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_11-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}

			{% if settings.mainmenu_show_12 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_12 }}" title="{{ settings.mainmenu_name_12 }}"> 
					{{ settings.mainmenu_name_12 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_12-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_12-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_12-1 }}">
									<p>{{ settings.mainmenu_name_colone_12-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_12-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_12-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_12-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_12-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_12-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_12-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_12-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_12-2 }}">
									<p>{{ settings.mainmenu_name_colone_12-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_12-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_12-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_12-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_12-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_12-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_12-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_12-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_12-3 }}">
									<p>{{ settings.mainmenu_name_colone_12-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_12-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_12-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_12-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_12-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_12-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_12-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_12-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_12-4 }}">
									<p>{{ settings.mainmenu_name_colone_12-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_12-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_12-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_12-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_12-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_12-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_12-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_12-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_12-5 }}">
									<p>{{ settings.mainmenu_name_colone_12-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_12-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_12-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_12-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_12-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_12-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_12-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_12-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_12-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-12-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_12-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-12-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_12-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_12-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_12-7 }}" alt="{{ settings.mainmenu_name_colone_12-7 }}" src="{{ settings.mainmenu_banner_colone_12-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_12-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_12-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
			{% if settings.mainmenu_show_13 %}
			<li class="has-submenu ">
				<a href="{{ settings.mainmenu_link_13 }}" title="{{ settings.mainmenu_name_13 }}"> 
					{{ settings.mainmenu_name_13 }}
					{% comment %}<span class="wrap_icon">
						<span class="wrap_icon-plus">+</span>
						<span class="wrap_icon-minus" style="display:none">-</span>
					</span>{% endcomment %}
				</a>
				<div class="sub_menu">
					<div class="columns">
						{% if settings.mainmenu_show_13-1 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_13-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_13-1 }}">
									<p>{{ settings.mainmenu_name_colone_13-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_13-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_13-1 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_13-1 }}">
									<p>{{ settings.mainmenu_name_coltwo_13-1 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_13-1].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_13-2 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_13-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_13-2 }}">
									<p>{{ settings.mainmenu_name_colone_13-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_13-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_13-2 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_13-2 }}">
									<p>{{ settings.mainmenu_name_coltwo_13-2 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_13-2].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_13-3 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_13-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_13-3 }}">
									<p>{{ settings.mainmenu_name_colone_13-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_13-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_13-3 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_13-3 }}">
									<p>{{ settings.mainmenu_name_coltwo_13-3 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_13-3].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_13-4 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_13-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_13-4 }}">
									<p>{{ settings.mainmenu_name_colone_13-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_13-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_13-4 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_13-4 }}">
									<p>{{ settings.mainmenu_name_coltwo_13-4 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_13-4].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_13-5 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_13-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_colone_13-5 }}">
									<p>{{ settings.mainmenu_name_colone_13-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_colone_13-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
							{% if settings.mainmenu_show_coltwo_13-5 %}
							<div class="nav-columns-section-heading">
								<a href="{{ settings.mainmenu_link_coltwo_13-5 }}">
									<p>{{ settings.mainmenu_name_coltwo_13-5 }}</p>
								</a>
							</div>
							<ul>
								{%- for link in linklists[settings.mainmenu_href_coltwo_13-5].links -%}
								<li>
									<a href="{{link.url}}">{{link.title}}</a>
								</li>
								{%- endfor -%}	
							</ul>
							{% endif %}
						</div>
						{% endif %}
						{% if settings.mainmenu_show_13-6 %}
						<div class="col">
							{% if settings.mainmenu_show_colone_13-6 %}
							<div class="wrap-info-header">
								<h4>
									{{ settings.mainmenu_name_colone_13-6-1 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-13-6-1 }}
								</p>
								<h4>
									{{ settings.mainmenu_name_colone_13-6-2 }}
								</h4>
								<p>
									{{ settings.mainmenu_name_colone_text-13-6-2 }}
								</p>
							</div>
							{% endif %}							
						</div>
						{% endif %}
						{% if settings.mainmenu_show_13-7 %}
						<div class="spotlight col">
							<div class="imagerollover">
								<a href="{{ settings.mainmenu_banner_link_colone_13-7 }}" target="_self">
									<img class="" title="{{ settings.mainmenu_name_colone_13-7 }}" alt="{{ settings.mainmenu_name_colone_13-7 }}" src="{{ settings.mainmenu_banner_colone_13-7 }}">
								</a>
							</div>
							<div class="text-spotlight">
								<p>{{ settings.mainmenu_name_colone_13-7 }}</p>
								<a href="{{ settings.mainmenu_link_colone_13-7 }}" target="_self"><u>SHOP NOW</u></a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>